{% extends "base.html" %}

{% block content %}
<div class="row">
    <h3 class="mt-4">Login</h3>
    <div class="col-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-secondary" role="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <!--  -->
            <div class="mb-3">
                <label class="form-label">Nutzername</label>
                <input required type="text" name="username" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Passwort</label>
                <input required type="password" name="password" class="form-control">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" name="remember" class="form-check-input">
                <label class="form-check-label">Denken Sie daran</label>
            </div>
            <button type="submit" class="btn btn-primary">Anmeldung</button>
            <!--  -->


        </form>
    </div> 
</div>
{% endblock %}